<Files .htaccess>
deny from all
</Files>

Order allow,deny
Allow from all

<ifModule mod_rewrite.c>
Options +Indexes
Options +FollowSymlinks
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    
    RewriteCond %{REQUEST_URI} !^/?(phpmyadmin)/
    RewriteRule ^([A-Za-z0-9\-_]+)?$ index.php?s=$1
    RewriteCond %{REQUEST_URI} !^/?(phpmyadmin)/
    RewriteRule ^([A-Za-z0-9\-_]+)?/([A-Za-z0-9\-_]+)?$ index.php?s=$1&q=$2
    RewriteCond %{REQUEST_URI} !^/?(phpmyadmin)/
    RewriteRule ^([A-Za-z0-9\-_]+)?/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)?$ index.php?s=$1&q=$2&d=$3
    RewriteCond %{REQUEST_URI} !^/?(phpmyadmin)/
    RewriteRule ^([A-Za-z0-9\-_]+)?/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)?$ index.php?s=$1&q=$2&d=$3&u=$4
    RewriteCond %{REQUEST_URI} !^/?(phpmyadmin)/
    RewriteRule ^([A-Za-z0-9\-_]+)?/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)?$ index.php?s=$1&q=$2&d=$3&u=$4&c=$5
    RewriteCond %{REQUEST_URI} !^/?(phpmyadmin)/
    RewriteRule ^([A-Za-z0-9\-_]+)?/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)?$ index.php?s=$1&q=$2&d=$3&u=$4&c=$5&r=$6
    RewriteCond %{REQUEST_URI} !^/?(phpmyadmin)/
    RewriteRule ^([A-Za-z0-9\-_]+)?/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)?$ index.php?s=$1&q=$2&d=$3&u=$4&c=$5&r=$6&f=$7
    RewriteCond %{REQUEST_URI} !^/?(phpmyadmin)/
    RewriteRule ^([A-Za-z0-9\-_]+)?/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)?$ index.php?s=$1&q=$2&d=$3&u=$4&c=$5&r=$6&f=$7&g=$8
    RewriteCond %{REQUEST_URI} !^/?(phpmyadmin)/
    RewriteRule ^([A-Za-z0-9\-_]+)?/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)/([A-Za-z0-9\-_]+)?$ index.php?s=$1&q=$2&d=$3&u=$4&c=$5&r=$6&f=$7&g=$8&h=$9
</ifModule>